<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pravallika.multiplealarms">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ReminderActivity"
            android:label="@string/eventsReminder"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pravallika.multiplealarms.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AddSpecialDaysReminderActivity"
            android:label="@string/label_add_spl_reminder" />
        <activity
            android:name=".activities.AddEventsReminderActivity"
            android:label="@string/label_add_events_reminder" />
        <activity
            android:name=".activities.AlarmActivity"
            android:label="@string/label_alarm_list"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pravallika.multiplealarms.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AddAlarmActivity"
            android:label="@string/label_set_alarm" />
        <activity
            android:name=".activities.MultipleAlarmActivity"
            android:label="@string/label_multiple_alarm_list"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pravallika.multiplealarms.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AddMultipleAlarmActivity"
            android:label="@string/label_set_multiple_alarm" />
        <activity
            android:name=".activities.ActiveAlarmActivity"
            android:label="@string/app_name"
            android:noHistory="true" />
        <receiver android:name=".receivers.AlarmReceiver" />
        <receiver android:name=".receivers.NotificationReceiver" />
        <receiver android:name=".receivers.SplReminderNotificationReceiver">
            <intent-filter>
                <action android:name="spl_rem_notif_off_click" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.RingtonePlayingService"
            android:enabled="true" />

    </application>

</manifest>