<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team8.android.multiplealarms">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.team8.android.multiplealarms.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.team8.android.multiplealarms.activities.ReminderActivity"
            android:label="@string/eventsReminder"
            android:parentActivityName="com.team8.android.multiplealarms.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team8.android.multiplealarms.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.team8.android.multiplealarms.activities.AddSpecialDaysReminderActivity"
            android:label="@string/label_add_spl_reminder" />
        <activity
            android:name="com.team8.android.multiplealarms.activities.AddEventsReminderActivity"
            android:label="@string/label_add_events_reminder" />
        <activity
            android:name="com.team8.android.multiplealarms.activities.AlarmActivity"
            android:label="@string/label_alarm_list"
            android:parentActivityName="com.team8.android.multiplealarms.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team8.android.multiplealarms.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.team8.android.multiplealarms.activities.AddAlarmActivity"
            android:label="@string/label_set_alarm" />
        <activity
            android:name="com.team8.android.multiplealarms.activities.MultipleAlarmActivity"
            android:label="@string/label_multiple_alarm_list"
            android:parentActivityName="com.team8.android.multiplealarms.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team8.android.multiplealarms.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.team8.android.multiplealarms.activities.AddMultipleAlarmActivity"
            android:label="@string/label_set_multiple_alarm" />
        <activity
            android:name="com.team8.android.multiplealarms.activities.ActiveAlarmActivity"
            android:label="@string/app_name"
            android:noHistory="true" />

        <receiver android:name="com.team8.android.multiplealarms.receivers.AlarmReceiver" />
        <receiver android:name="com.team8.android.multiplealarms.receivers.NotificationReceiver" />
        <receiver android:name="com.team8.android.multiplealarms.receivers.SplReminderNotificationReceiver">
            <intent-filter>
                <action android:name="spl_rem_notif_off_click" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.team8.android.multiplealarms.services.RingtonePlayingService"
            android:enabled="true" />

    </application>

</manifest>